*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' Arial, Helvetica, sans-serif;
    box-sizing: box;
}
/* Header */
header{
    height: 100vh;
    background: url('../backg1/hero.png');
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header ul{
    margin: 0;
    padding: 0;
}
header a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;

}
header li{
   
    float: left;
    display: inline;
    padding: 0 20px 0 20px ;
}
header .branding{
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
}
header nav{
    float: right;
    margin-top: 20px;
}
    .btn{
        text-align: center;
        width: 120%;
        margin-top: 5px;
        float: left;
        font-size: 20px;
        color: #fff;
        background: #008000;
        border: none;
        height: 50px;
        padding-left: 12px 12px 10px;
        
    }
      
  #id{
    width: 100%;
    margin: auto;
    overflow: hidden;
        }
.future h1{
margin-top: 30px;
font-size: 40px;
color: #fff;
text-align: center;
}

.future h1:hover{
color: #008000;
transition: 0.5s;
}
header a:hover{
    
        color: #008000;
        transition: 0.5s;
        
}
.future p{
    font-size: 29px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    
}

   #kl{
    align-items: center;
    width: 50%;
    margin-top: 40px;
    margin-left: 30px;
    float: left;
    font-size: 40px;
    color: #000;
    height: 64px;
    border: none;
    padding-left: 30px;
    background: #fff;
   
}
#btn2{
    align-items: center;
    width: 10%;
    margin-top: 40px;
    float: left;
    font-size: 35px;
    color: #fff;
    background: #008000;
    border: none;
    height: 65px;
   
}

.content{
display: flex;
width: 100%;
margin-left: 15px;
justify-content: space-evenly;
overflow: hidden; 
}

#more h3{
    width: 40%;
    font-size: 44px;
    color: #23b1a5;
   padding-top: 45px;
}  
#more p{
    margin-top: 10px;
    font-size: 30px;
    width: 50%;
   
}
#sig{
        width: 20%;
         margin-top: 25px;
        font-size: 40px;
        color: #fff;
        background: #23b1a5;
        border: none;
        height: 65px;
        margin-left: 40px;
        
 }
 #sig:hover{
    color: #800006;
    transition: 0.5s;
}
  #stat{
   
    margin-top: 70px;
 } 
.container3{
    width: 100%;
    background: #f7f4f4;
    height: 55vh;  
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 20px;
    justify-content: space-evenly; 
} 

#aside{
    float: right;
    margin-top: 30px;
    width: 40%;
}
#mg{
    width: 48%;
    margin-top: 30px;
   
}
#aside h3{
    font-size: 40px;
    width: 70%;
    color: #23b1a5;
}
#aside p{
    margin-top: 10px;
    font-size: 28px;
    width: 70%;
}

.zik {
    margin-top: 30px;
    width: 100%;
} 
.zik .earn{
    width: 100%;
    display: flex;
    margin-top: 45px;
   background: #fff;
   text-align: center;  
   height: 90vh;
}
#lean{
    width: 80%;
    margin-top: 30px;
}
#lean h2{
    width: 80%;
    font-size: 35px;
    color: #23b1a5;
}
#lean h3{
    font-size: 35px;
    color: #23b1a5;    
}

#lean p{
    margin-top: 10px;
    font-size: 20px;   
}
#lean img{
    width:30%;
    margin-top: 40px;
}
.get{
    margin-top: 50px;
    width: 100%;
    background: #4b6ddd;
    height: 27vh;
}
.get h1{
    font-size: 30px;
    color:#fff;
    display: block;
    text-align: center;
    padding-top: 40px;
}
#but{
    align-items: center;
    width: 40%;
    margin-top: 40px;
   margin-left: 50px;
    float: left;
    font-size: 30px;
    color: #000;
    height: 65px;
    border: none;
    background: #fff;
    align-items: center;
   
} 
#tobtn{
    align-items: center;
    width: 15%;
    margin-top: 40px;
    float: left;
    font-size: 25px;
    color: #fff;
    background: #008000;
    border: none;
    height: 64px;
   
} 

/*Contact*/

.section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    background: #f7f4f4;
    justify-content: space-evenly;
    overflow: hidden; 
}
#ig{
    width: 10%;
}
.cov{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-left: 5px;
}
 #center h3{
    font-size: 30px;
    color: #23b1a5;
 }
 
 #center p{
    font-size: 18px;
 }

 .butt{
    display: flex;
    width: 100%;
    padding-top: 30px;
 }

#form{
    align-items: center;
    width: 30%;
    margin-top: 40px;
    margin-left: 30px; 
    float: left;
    font-size: 15px;
    color: #000;
    height: 50px;
    border: none;
    background: #23b1a5;
   
}
#button{
    width: 20%;
    margin-top: 40px;
    float: left;
    font-size: 20px;
    color: #fff;
    background: #008000;
    border: none;
    height: 50px;
   
}
#bx {
    width: 30%;
    color: #fff;
    font-size: 30px;
}

.foot{
        width: 100%;
        margin-bottom: 2px;
        margin-top: 150px;
        display: flex;
        background: #4b6ddd;
        height: 10vh;
        position: absolute;  
        text-align: center;
        overflow: auto;
       
    }

#note p{
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    color:#fff;
    
   
} 
/*........ Media Query..........*/
@media(max-width:768px){

    header, 
    .container,
    header  ul,
    header a, 
    header .branding,
    .btn,
    .hero,
    .future h1{
    width: 100%;
    overflow:hidden;
    float:none;
    }
    .branding{
        width: 60%;
       
        }
        .branding h1{
            margin-top: 22px;
            font-size: 10px;
             color: #fff;
            margin-left: 5px;
            font-weight: 40; 
        } 
          
        header nav ul{
            display: inline-block;
        }
        header  a{
            text-decoration: none;
            color: #fff;
            font-size: 10px;
            margin-top: 1px;
            margin-left: 12px;
        }
        header li{
            float: left;
            display: inline;
            padding: 0 5px 0 5px;
        }
        .btn{
            text-align: center;
            width: 99%;
            float: left;
            font-size: 8px;
            color: #fff;
            background: #008000;
            border: none;
            height: 20px;
            margin-left: 1px;     
}
    .future h1{
    width: 90%;
     margin-top: 5px;
    font-size: 14px;
    color: #fff;
    float: right;
    text-align: center;
                
     }
     .future p{
        font-size: 10px;
        color: #fff;
        margin-top: 10px;
     }
    
     #kl{
        align-items: center;
        width: 40%;
        margin-top: 40px;
        margin-left: 30px;
        float: left;
        font-size: 15px;
        color: #000;
        height: 64px;
        border: none;
        padding-left: 30px;
        background: #fff;
       
    }
    #btn2{
        align-items: center;
        width: 30%;
        margin-top: 40px;
        float: left;
        font-size: 19px;
        color: #fff;
        background: #008000;
        border: none;
        height: 64px;
       
    }
    .container3{
        width: 50%;
        background: #f7f4f4;
        height: 40vh;  
       margin: auto;
       margin-bottom: 5px;
       margin-left: 5px;
        justify-content: space-evenly; 
    } 
#more h3{
    width: 60%;
    font-size: 10px;
    color: #23b1a5;
    padding-top: 15px;
}  
#more p{
    margin-top: 15px;
    font-size: 12px;
    width: 50%;  
}
#sig{
    width: 50%;
     margin-top: 25px;
    font-size: 20px;
    color: #fff;
    background: #23b1a5;
    border: none;
    height: 65px;
    margin-left: 40px;
    
}
#stat{
   
    margin-top: 10px;
    float: left;
    
 } 
 .container3{
    width: 100%;
    background: #f7f4f4;
    height: 30vh;  
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
    justify-content: space-evenly; 
}
    
#aside{
    float: right;
    margin-top: 10px;
    width: 70%;
}
#mg{
    width: 48%;
    margin-top: 10px;
   
}
#aside h3{
    font-size: 19px;
    width: 60%;
    color: #23b1a5;
}
#aside p{
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}
.zik {
    margin-top: 10px;
    width: 80%;
} 
.zik .earn{
    width: 100%;
    display: flex;
    margin-top: 20px;
   background: #fff;
   text-align: center;  
   height: 50vh;
}
#lean{
    width: 80%;
    margin-top: 30px;
}
#lean h2{
    width: 80%;
    font-size: 30px;
    color: #23b1a5;
    text-align: center;
}
#lean h3{
    font-size: 10px;
    color: #23b1a5;    
}

#lean p{
    margin-top: 10px;
    font-size: 10px;   
} 
#lean img{
       width: 50%;
       margin-top: 20px;
       
    } 
  
    .get{
        width: 100%;
        background: #4b6ddd;
        height: 15vh;
    }
    .get h1{
        font-size: 10px;
        color: #23b1a5;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    #but{
        align-items: center;
        width: 30%;
        margin-top: 10px;
        margin-left: 20px;
        float: left;
        font-size: 10px;
        height: 40px;
        border: none;
        padding-left: 30px;
        background: #fff;
       
    }
    #tobtn{
        align-items: center;
        width: 30%;
        margin-top: 10px;
        float: left;
        font-size: 12px;
        color: #fff;
        background: #008000;
        border: none;
        height: 40px  
    }
    .section{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        background: #f7f4f4;
        justify-content: space-evenly;
        overflow: hidden; 
    }
    #ig{
        width: 20%;
    }
    .cov{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
     #center h3{
        font-size: 10px;
        color: #23b1a5;
     }
     
     #center p{
        font-size: 10px;
     }
    
     .butt{
        display: flex;
        width: 80%;
        padding-left: 5px;
        float: left;
        padding-top: 20px;
     }
    
     #form{
        align-items: center;
        width: 60%;
        margin-top: 40px;
        margin-left: 10px; 
        float: left;
        font-size: 10px;
        color: #000;
        height: 40px;
        border: none;
        background: #23b1a5;
       
    }
    #button{
        width: 50%;
        margin-top: 40px;
        float: left;
        font-size: 7px;
        color: #fff;
        background: #008000;
        border: none;
        height: 40px;
       
    }
    #bx {
        width: 10%;
        color: #fff;
        font-size: 10px;
    }
    
    .foot{
            width: 100%;
            margin-bottom: 2px;
            margin-top: 8px;
            display: flex;
            background: #4b6ddd;
            height: 8vh;
        }
    
    #note p{
        font-size: 8px;
       margin-top: 20px;
        color:#fff;
        text-align: center;
     
       
    }
   
}

    






   
   
   
        
    
    

    
      
        

    
       

   
   
   
    
    
    

